/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: Droid Sans Mono;
  src: url('../font/DroidSansMono.ttf');
}
@font-face {
  font-family: Droid Sans;
  src: url('../font/DroidSans.ttf');
}

html {
  color: #cdcdcd;
  font-size: 1em;
  line-height: 2.4;
}

body {
  background: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #7600CA;
    text-shadow: none;
}

::selection {
    background: #7600CA;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
  margin: 0 auto 25px auto;
  padding: 15px;
  border: 1px solid #cdcdcd;
  width:50%;
  text-align: center;
}

h1 {
  font-family: "Droid Sans";
  letter-spacing:2px;
  color: #cdcdcd;
  font-size: 2em;
  margin: auto;
  text-align: center;
}

.link {
  font-family: "Droid Sans Mono";
  padding: 5px;
  background: #cdcdcd;
  color: #222;
  text-decoration:none;
}

.link:hover {
  color:#cdcdcd;
  background:none;
}

/* ==========================================================================
   Header
   ========================================================================== */

nav {
  width:100%;
  border-bottom:1px solid #ccc;
  background:#222;
  margin: 0 auto 25px auto;
}
#navcontainer {
  text-align: center;
  width:70%
  margin: 0 auto 0 auto;
}

/*
==============================================
Search engine search box classes
==============================================
*/

#sbox-box {
  margin: 105px auto 10px auto;
  width:60%;
}
#sbox-btn-box {
  margin:auto;
  width:60%;
  text-align: center;
}

#sbox-query {
	padding:10px;
  border: 1px solid #cdcdcd;
  background:#222;
  width:100%;
  font-family: "Droid Sans";
  box-sizing: border-box;
}
.sbox-button {
  background:#cdcdcd;
  color:#222;
  min-width:75px;
  font-family: "Droid Sans Mono";
  text-decoration:none;
  padding: 9px;
  line-height: 3em;
}
.sbox-button:hover {
  color:#cdcdcd;
  background:none;
}

/* Mascots */

#ms-box {
	width:60%;
	height:400px;
	margin:10px auto;
	border:1px solid #cdcdcd;
	text-align: center;
}

#mascot {
	height:100%;
	float:left;
	opacity:0.8;
}

.break {
	height:25px;
}